# Written by hypeforge-theme — style {{meta:style}}, theme {{meta:theme}}.
[Settings]
gtk-theme-name={{names:gtk_theme}}
gtk-application-prefer-dark-theme={{names:prefer_dark}}
gtk-icon-theme-name={{names:icons}}
gtk-cursor-theme-name={{names:cursor}}
gtk-cursor-theme-size={{names:cursor_size}}
gtk-font-name=Noto Sans 10
gtk-enable-animations=true
gtk-decoration-layout=:close
